name: Run tests

on: [push]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      # checkout current branch
      - uses: actions/checkout@v1
        with:
          ref: ${{ github.ref }}

      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Initialise monorepo
        run: yarn install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Run test scripts
        run: npx lerna run test
